@import "tailwindcss";

:root {
  color-scheme: dark;
}

html, body {
  background-color: #0F172A !important;
  color: #ffffff;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overscroll-behavior-y: none;
}